html {
    background-image: url(https://cdn.wallpapersafari.com/53/78/bQLFTZ.jpg);
    background-color: black;
    background-size: 100% 81.5%;
    background-repeat: no-repeat;
}

ul li {
    float: left;
    text-align: center;
    margin-bottom: 50px;
    list-style: none;
}
h1 {
    font: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: aliceblue;
    background-color: black;
    border-radius: 16%;
    margin-top: 30px;
}
h2 {
    font: 1em sans-serif;
    font-size: 25px;
    color: aliceblue;
    background-color: black;
}

h3 {
    font-style: italic;
    color: aliceblue;
    background-color: black;
}

h4 {
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    margin-top: 10%;
    background-color: black;
}

.titulo {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    clear: both;
}

.robottitulo {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 50px;
    margin-left: 35%;
    margin-right: 35%;
}
.robotdesc {
    font-size: 18px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    transition: 1s;
}
.robotdesc:hover {
    font-size: 20px;
    border-radius: 10px;
}

.wifititulo {
    text-align: center;
    margin-right: 55%;
    margin-left: 10%;
}
.wifidesc {
    font-size: 18px;
    text-align: center;
    margin-right: 50%;
    margin-left: 5%;
    margin-bottom: 50px;
    transition: 1s;
}
.wifidesc:hover {
    font-size: 20px;
    border-radius: 10px;
}

.impresiontitulo {
    text-align: center;
    margin-left: 55%;
    margin-right: 10%;
}
.impresiondesc {
    font-size: 18px;
    text-align: center;
    margin-right: 5%;
    margin-left: 50%;
    margin-bottom: 50px;
    transition: 1s;
}
.impresiondesc:hover {
    font-size: 20px;
    border-radius: 1s;
}

.robocitytitulo {
    text-align: center;
    margin-right: 55%;
    margin-left: 10%;
}
.robocitydesc {
    font-size: 18px;
    text-align: center;
    margin-right: 50%;
    margin-left: 5%;
    margin-bottom: 50px;
    transition: 1s;
}
.robocitydesc:hover {
    font-size: 20px;
    border-radius: 10px;
}

.idiomas {
    margin-left: 85%;
    padding: 0px;
}
.espanol {
    background-color: aliceblue;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    height: 25px;
    width: 55px;
    line-height: 25px;
    transition: 1s;
}
.ingles {
    background-color: aliceblue;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    height: 25px;
    line-height: 25px;
    width: 55px;
    transition: 1s;
}
.euskara {
    background-color: aliceblue;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    height: 25px;
    line-height: 25px;
    width: 55px;
    transition: 1s;
}
.espanol:hover {
    height: 30px;
    width: 70px;
}
.ingles:hover {
    height: 30px;
    width: 70px;
}
.euskara:hover {
    height: 30px;
    width: 70px;
}

.redessoci {
    background-color: black;
    background:fixed;
    margin-left: 42.5%;
    height: 40%;
    text-align: center;
    line-height: 40px;
    float: left;
    list-style: none;
}
.twitthoseros {
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
    margin-right: 5px;
    width: 75px;
    transition: 1s;
}
.instahoseros {
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
    width: 75px;
    transition: 1s;
}

.twitthoseros:hover {
    background-color: blue;
    color: aliceblue;
    font-size: large;
}
.instahoseros:hover {
    background-color: blueviolet;
    color: aliceblue;
    font-size: large;
}